.cursor {
	/* background-color: hsl(var(--text)); */

	animation: blink 1s infinite;
	margin-inline: 2px;
	height: 1.2em;
	width: 0.5ch;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.TypeWriter {
	display: flex;
	flex-direction: row;
	align-items: center;
}
