.navBar {
	display: flex;
	padding: 8px;
	border: 2px solid hsl(var(--text) / 50%);
	border-radius: 48px;
	width: min-content;
	position: sticky;
	top: 8px;
	backdrop-filter: blur(8px);
	z-index: 3;
}

.navIndicator {
	background-color: hsl(var(--text));
	border-radius: 48px;
	position: absolute;
	width: 1px;
	transition: left 0.1s ease-in-out;
}
