.navItem {
	background-color: transparent;
	padding: 8px 16px;
	border-radius: 32px;
	width: min-content;
	height: min-content;
	z-index: 3;
	cursor: pointer;
}

.navItem.active {
	color: hsl(var(--background));
	transition: color 0.1s ease-in-out;
}
