.main {
	width: 100%;
	max-width: 20cm;
	display: flex;
	flex-direction: column;
	gap: 4em;
}
.divider {
	width: 100%;
	height: 2px;
	background-color: #1e1e1e;
}
.projectCardsGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
}
.projectCardsGrid > :nth-child(3) {
	/* grid-column: 1 / 3; */
}
@media (max-width: 768px) {
	.projectCardsGrid {
		grid-template-columns: 1fr;
	}
	.projectCardsGrid > :nth-child(3) {
		/* grid-column: 1 / 2; */
	}
}
